.hidden {
	display: none !important;
	visibility: hidden !important;
}

.tawcvs-swatches {
	overflow: hidden;
	padding: 5px;
}

.tawcvs-swatches .swatch {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	position: relative;
	opacity: 0.5;
}

.tawcvs-swatches .swatch.selected {
	-webkit-box-shadow: 0 0 5px;
	-moz-box-shadow: 0 0 5px;
	box-shadow: 0 0 5px;
	border-color: #999;
	opacity: 1;
}

.tawcvs-swatches .swatch.disabled {
	opacity: 0.1;
}

.tawcvs-swatches .swatch-color {
	text-indent: -9999px;
}

.tawcvs-swatches .swatch-color.selected {
	border-color: transparent;
}

.tawcvs-swatches .swatch-color.selected:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
	width: 6px;
	height: 10px;
	display: block;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	position: absolute;
	top: 8px;
	left: 11px;
}

.tawcvs-swatches .swatch-label {
	background-color: #f1f1f1;
}

.tawcvs-swatches .swatch-image {
	overflow: hidden;
}