/******************************************************
Cart Form
*******************************************************/

.woocommerce-cart-form .cart-contents, .woocommerce .checkout-main {
	background: #fff;
	border: 2px solid #efefef;
	border-radius: 3px;
	padding: 20px;
}

/******************************************************
Cart Item Flex
*******************************************************/

.cart-contents {
	.cart_item {
		display: flex;
		flex-flow: row;
		.product-thumbnail {
			width: 160px;
			margin: 0 20px 15px 0;
		}
		.product-info {
			width: calc(70% - 180px);
		}
	}
	.product-info {
		font-size: 16px;
		.product-name a {
			color: #868686;
			font-size: inherit;
			letter-spacing: 1px;
		}
		.product-attributes div {
			color: #868686;
			font-size: 16px;
			letter-spacing: 1px;
			text-transform: capitalize;
		}
	}
	.cart_item .product-actions {
		text-align: right;
		width: 30%;
	}
	.product-actions {
		.product-subtotal {
			color: #868686 !important;
			font-size: 18px;
			letter-spacing: 1px;
			margin-bottom: 10px;
		}
		.product-quantity {
			label {
				color: #575757 !important;
				font-size: 16px;
				letter-spacing: 1px;
			}
			select {
				color: #575757 !important;
				font-size: 16px;
				letter-spacing: 1px;
				border: 0;
				width: 40px;
				margin-bottom: 10px;
			}
		}
		.remove-product a {
			color: #575757 !important;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: inline-block;
			padding-left: 1em;
			width: auto;
			&:hover {
				background: white;
			}
		}
	}
}

.woocommerce {
	.cart-contents .button {
		display: none;
	}
	.cart-sidebar, .checkout-aside {
		background: #fff;
		border: 2px solid #efefef;
		border-radius: 3px;
		padding: 20px;
		margin-left: 20px;
	}
}

/******************************************************
Cart Subtotal Sidebar
*******************************************************/

.woocommerce {
	.woocopayment-buttonmmerce-coupon-form {
		text-align: center;
		margin-bottom:16px;
		h5 {
			margin: 25px 0 16px;
			font-size: 20px;
		}
		label {
			font-size: 14px;
			margin-bottom: 20px;
			letter-spacing: 1px;
			text-transform: capitalize;
			display: inline-block;
		}
		.form-row {
			width: 79%;
			float: left;
			margin: 0 !important;
			height: 50px;
		}
		input {
			border-radius: 0;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 26px;
			box-sizing: border-box;
			height: auto;
			background: #fff;
			border: 2px solid #ccc;
			&.button {
				float: right;
				width: 21%;
				border-left: none;
				margin-bottom:16px;
				height: 50px;
			}
		}
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
}

.cart-sidebar {
	.cart-subtotal span {
		font-size: 20px;
		letter-spacing: 0.5px;
	}
	span.cart-subtotal-value,
	.amount {
		float: right;
	}

	.cart_totals {
		text-align: center;
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: capitalize;
		#shipping_method {
			text-align: left;
			font-size: 12px !important;
			letter-spacing: 1px;
			text-transform: capitalize;
			li {
				border-bottom: 1px solid #e5e5e5;
				padding: 10px;
				&:first-child {
					border-top: 1px solid #e5e5e5;
					margin-top: 10px;
				}
			}
		}
		.woocommerce-shipping-calculator {
			display: none;
		}
		.order-total {
			padding-top: 1em;
			text-align: left;
			span {
				&:first-child {
					font-size: 24px;
					color: #555;
					letter-spacing: 0.5px;
				}
				strong {
					font-weight: 400;
					float: right;
				}
			}
		}

		.wc-proceed-to-checkout {
			padding: 1em 0 0;
		}

		.wc-proceed-to-checkout a {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 1px;
			margin: 0;
		}
	}
}

/* Tablet styles */

@media only screen and (max-width: 993px) {

	.woocommerce {
		.cart-sidebar, .checkout-aside {
			margin: 20px 0 0;
		}
	}

}

/* MOBILE STYLES */
@media only screen and (max-width: 600px) {
	/******************************************************
	Cart Form
	*******************************************************/
	.woocommerce-cart-form .cart-contents {
		border-radius: 3px;
		padding: 5px;
		width: 100%;
	}
	/******************************************************
	Cart Item Flex
	*******************************************************/
	.cart-contents {
		.cart_item {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			.product-thumbnail {
				width: calc(50% - 10px);
				margin: 0 10px 5px 0;
			}
			.product-info {
				width: 50%;
			}
			.product-actions {
				display: flex;
				flex-flow: wrap;
				margin-left: auto;
				margin-bottom: -65px;
				width: 50%;
				position: relative;
				bottom: 80px;
				text-align: left;
			}
		}
		.product-actions .product-subtotal {
			width: 100%;
		}
	}
	/******************************************************
	Cart Subtotal Sidebar
	*******************************************************/
	.woocommerce .cart-sidebar {
		border-width: 2px 0 0 0;
		padding: 10px;
		margin: 0;
		width: 100%;
	}
}