.woocommerce-checkout #getled-navigation + .topthree {
	display: none;
}

/******************************************************
Checkout Progress
*******************************************************/

body {
	background: #fafafa;
}

#getled-checkout-step {
	background: #fff3f1;
	padding: 16px 20px;
	margin: 0;
	border: 2px solid #efefef;
	border-bottom: 0;
	.step-number {
		font-size: 20px;
		background: #444;
		color: #fff;
		font-weight: 400;
		border: 3px solid #444;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		line-height: 47px;
		text-align: center;
		margin: auto;
		display: inline-block;
		vertical-align: 7px;
	}
}

#getled-checkout-progress {
	display: flex;
	justify-content: space-between;
	margin: 0 20%;
	padding: 40px 0;
}

/******************************************************
Checkout Progress > Steps
*******************************************************/

#step-bag, #step-delivery, #step-payment {
	width: 80px;
	text-align: center;
}

/******************************************************
Checkout Progress > Steps > Number
*******************************************************/

#step-bag .step-number, #step-delivery .step-number, #step-payment .step-number {
	font-size: 14px;
	color: #a7a7a7;
	font-weight: 500;
	border: 3px solid #a7a7a7;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	line-height: 3em;
	margin: auto;
}

/******************************************************
Checkout Progress > Steps > Label
*******************************************************/

#step-bag .label, #step-delivery .label, #step-payment .label {
	font-size: 14px;
	color: #a7a7a7;
	margin-top: 10px;
	letter-spacing: 1px;
}

/******************************************************
Checkout Progress > Steps > Active Step Number
*******************************************************/

#step-bag.active .step-number, #step-delivery.active .step-number, #step-payment.active .step-number {
	color: #404040;
}

/******************************************************
Checkout Progress > Steps > Active Step Label
*******************************************************/

#step-bag.active .label, #step-delivery.active .label, #step-payment.active .label {
	color: #404040;
	text-decoration: underline;
}

/******************************************************
Checkout Progress > Steps > Done Step Number
*******************************************************/

#step-bag.done .step-number, #step-delivery.done .step-number, #step-payment.done .step-number {
	color: #404040;
	font-size: 0;
	border: 3px solid #404040;
}

#step-bag.done .step-number:before, #step-delivery.done .step-number:before, #step-payment.done .step-number:before {
	content: '\f00c ';
	font-family: fontAwesome;
	color: #404040;
	font-size: 20px;
	line-height: 2.2em;
}

/******************************************************
Checkout Progress > Steps > Done Step Label
*******************************************************/

#step-bag.done .label, #step-delivery.done .label, #step-payment.done .label {
	color: #404040;
}

/******************************************************
Checkout Progress > Seperators
*******************************************************/

.sep {
	width: 100%;
	border: 1.5px solid #c6c6c6;
	height: 0;
	margin: 25px 20px 0;
}

/******************************************************
*******************************************************
Checkout Content
*******************************************************/

.woocommerce {
	.woocommerce-billing-fields > h3:first-child {
		margin: 0 0 .25em;
	}

	#getled-logged-out-user .ui-tabs-nav {
		padding: 0;
		display: flex;
		padding: 0;
		.ui-state-default {
			width: 100%;
			text-align: center;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 10px 0;
			border-bottom: 2px solid #cacaca;
			a {
				outline: 0;
			}
		}
		.ui-tabs-active {
			border: 2px solid #cacaca;
			border-bottom: 0px solid #cacaca;
		}
	}
	#new, #login {
		max-width: 400px;
		margin: auto;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	#getled-logged-out-user {
		h4 {
			font-size: 20px;
			margin-top: 10px;
		}
		.lost_password {
			text-align: center;
		}
		.button {
			font-size: 16px;
			font-weight: 400;
			border-radius: 2px;
			width: 100%;
			display: block;
			margin-top: 0;
		}
		.woocommerce-form__label-for-checkbox {
			display: none;
		}
		.lost_password {
			margin-bottom: 0;
			font-size: 16px;
			letter-spacing: 1px;
		}
	}
}

.getled .form-row {
	position: relative;
	padding: 0 !important;
	margin: 16px 0 !important;
	[type='text'], [type='tel'], [type='email'], [type='password'], [type='number'], [type='date'], textarea {
		width: 100%;
		border: 2px solid rgba(0,0,0,.2);
		height: 50px;
		padding: 10px 20px;
		font-size: 16px;
	}
	label {
		text-align: left;
		position: absolute;
		font-size: 16px;
		height: 16px;
		line-height: 1 !important;
		letter-spacing: 1px;
		top: 25px;
		left: 14px;
		margin: 0;
		background: white;
		padding: 0 5px;
		z-index: 1;
		min-width: calc(100% - 32px);
		transform-origin: 0 50%;
		transform: translateY(-50%);
		transition: transform .25s, top .35s;
	}
	&.filled-focussed label {
		min-width: 0;
		top: 0;
		transform: translateY(-44%) scale(0.88);
		cursor: text;
	}

	.woocommerce-form__label-for-checkbox,
	&.getled-push-button-form-row label {
		position: static;
		display: inline-block !important;
		padding: 0;
		margin: 0;
		vertical-align: middle;
		height: auto;
		line-height: 25px !important;
	}
}

/******************************************************
Labels On Checkmark Fields
*******************************************************/

/* Hide Required Asterisk */

.woocommerce {
	.required {
		display: none;
	}
	textarea {
		border: 2px solid rgba(0,0,0,.2);
		height: 150px;
		padding: 20px;
		font-size: 16px;
	}
	.woocommerce-input-wrapper .select2-selection {
		border: 2px solid rgba(0,0,0,.2);
		height: 50px;
		padding: 10px;
		font-size: 16px;
	}
}

/******************************************************
Text Fields & Text Area
*******************************************************/

/******************************************************
Drop Down Select Fields
*******************************************************/

/******************************************************
Drop Down Select Fields > Options Border
*******************************************************/

.select2-dropdown--below {
	border: 2px solid rgba(0,0,0,.2);
}

/******************************************************
Cart Item Flex
*******************************************************/

dl.variation {
	color: #868686;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: capitalize;
	dt {
		float: left;
		font: inherit;
		padding-right: .25em;
	}
}

.checkout-aside {
	h3 {
		margin: -14px -14px 5px;
		padding: 0 14px;
		text-align: center;
		small {
			opacity: .7;
			font-weight: 300;
			font-size: 70%;
			vertical-align: top;
			padding-top: .7em;
			display: inline-block;
			line-height: 1.15;
		}
		.edit-bag {
			float: right;
			border-bottom: 1px solid;
		}
	}
	.cart_item {
		display: flex;
		flex-flow: row;
		border-top: 2px solid #efefef;
		margin: 0 -20px;
		flex: 0 0 100%;
		padding: 11px 20px;
		.product-thumbnail {
			flex: 0 0 100px;
			margin: 0 20px 0 0;
			img {
				display: block;
			}
		}
	}
	.product-info {
		.product-name a {
			color: #868686;
			font-size: 14px;
			letter-spacing: 1px;
		}
		.item-quantity {
			color: #868686;
			font-size: 14px;
			letter-spacing: 1px;
			text-transform: capitalize;
			.amount {
				font-weight: 600;
			}
		}
	}

	.cart-subtotal, .cart_totals, .order-total {
		color: #868686;
		font-size: 16px;
		letter-spacing: 1px;
		margin: 16px -20px 0;
		padding: 16px 20px 0;
		border-top: 2px solid #efefef;
	}
	.cart-subtotal .amount, .cart_totals .amount, .order-total .amount {
		float: right;
		font-weight: 400;
	}
	#secure-checkout-label {
		color: #239451;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 1px;
		text-align: center;
		margin: 29px 0 -50px;
	}
}

a#woo_pp_ec_button {
	background: none;
}

button#payment-button {
	display: block;
	width: 100%;
	font-weight: 400;
	margin-top: 1em;
	padding: 1em;
}