/******************************************************
Labels On Fields
*******************************************************/
.woocommerce label {
    position: relative;
    display: inline-block !important;
    width: auto;
    margin: auto;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: capitalize;
    top:15px;
    left: 20px;
    background: white;
    padding: 0 10px;
}
/* Hide Required Asterisk */
.woocommerce .required {
    display: none;
}




/******************************************************
Text Fields
*******************************************************/
.woocommerce input[type=text] {
    border: 2px solid #d5d5d5;
    height: 50px;
    padding: 20px;
    font-size: 16px;
}      




/******************************************************
Checkout Form 65%
*******************************************************/
.woocommerce .checkout .checkout-main {
    border: 2px solid #efefef;
    border-radius: 3px;
    padding: 20px;
    width: 65%;
}




/******************************************************
Checkout Aside 35%
*******************************************************/
.woocommerce .checkout .checkout-aside {
    border: 2px solid #efefef;
    border-radius: 3px;
    padding: 20px;
    margin-left: 20px;
    width: calc(35% - 20px);
}




/******************************************************
Cart Item Flex
*******************************************************/
.checkout-aside .cart_item {
    display: flex;
    flex-flow: row;
}




/******************************************************
Product Image
*******************************************************/
.checkout-aside .cart_item .product-thumbnail {
    width: 100px;
    margin: 0 20px 15px 0;
}




/******************************************************
Product Info > Title, Variations & Quantity
*******************************************************/
/* Product Title */
.checkout-aside .product-info .product-name a {
    color: #868686;
    font-size: 14px;
    letter-spacing: 1px;
}
/* Product Variation */
.checkout-aside .product-info .product-attributes div {
    color: #868686;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
/* Product Variation Attr Name */
.checkout-aside .product-info .product-attributes .product-attr-name {
    float: left;
}
/* Product Variation Attr Name AFTER ELEMENT */
.checkout-aside .product-info .product-attributes .product-attr-name::after {
    content: ":";
    padding: 5px;
}
/* Product Quantity */
.checkout-aside .product-info .item-quantity {
    color: #868686;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
/* Product Quantity Amount */
.checkout-aside .product-info .item-quantity .amount {
    font-weight: 600;
}




/******************************************************
Product Image
*******************************************************/
.checkout-aside .cart-subtotal {
    color: #868686;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 2px solid #efefef;
}

.checkout-aside .cart-subtotal span.cart-subtotal-value {
    float: right;
}