.woocommerce .checkout-main #payment,
.woocommerce .checkout-main #payment .payment_box {
	background: white;
	margin-bottom: 0;
}

.woocommerce .checkout-main #payment .payment_box:before,
#wc-stripe-cc-form label,
.woocommerce .checkout-main .woocommerce-terms-and-conditions-wrapper {
	display: none;
}

#stripe-card-element {
	border: 2px solid #d5d5d5;
	padding: 10px;
	font-size: 16px;
}

.woocommerce #payment {
	ul.wc_payment_methods {
		padding: 0;
		border: none;
	}
	.place-order button {
		background: #36a74c;
		font-size: 18px;
		padding: 15px 0;
		display: inline-block;
		float: none !important;
		width: 100%;
		margin: auto;
	}
	h3 {
		margin: -20px -20px 0;
		padding: 20px;
		border-bottom: 1px solid #ccc;
		text-align: center;
		background: #eee;
		.fa {
			margin-left: .5em;
		}
	}
	h4 {
		font-size: 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		opacity: .7;
		margin: 1em 0 0;
	}
	input[name='payment_method'] {
		display: none;
	}
	li.wc_payment_method {
		margin-bottom: 1em;
	}
	label {
		display: block;
		background: #f5f5f5;
		line-height: 50px;
		padding: 0 16px;
		margin-top: 1.6em;
	}
	input:checked + label {
		background: #ddd;
	}
	div.payment_box {
		border: 1px solid #ddd;
		margin: 0;
		padding: 16px;
		p {
			margin: 0;
		}
	}
	.form-row.place-order {
		margin: 2em 0 0 !important;
	}
}