.woocommerce.archive ul.products {
	margin: 0;
	text-align: center;
	li.product {
		width: 22.75%;
		margin: 0 3% 1.4em 0;
		&.last {
			margin-right: 0;
		}
		.woocommerce-loop-product__title {
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: .1em;
			color: inherit;
		}
		.price {
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: .1em;
			color: inherit;
			* {
				text-transform: uppercase;
				font-weight: 400;
				letter-spacing: .1em;
				color: inherit;
			}
		}
		.button {
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: .1em;
			margin: 0;
			display: block;
			font-size: 18px;
		}
		.price {
			font-size: 23px;
			margin-bottom: 0.25em;
			opacity: .7;
		}
		.woocommerce-loop-product__link {
			padding: 0;
		}
		.woocommerce-loop-product__title {
			min-height: 5em;
			font-weight: 400;
		}
		a img {
			margin: 0;
		}
		.price del {
			display: none;
		}
	}
}

.woocommerce nav.woocommerce-pagination {
	display: none;
}

.color-variations-indicator {
	right: 1em;
	&, &:before, &:after {
		content: '';
		position: absolute;
		font-size: 12px;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		background: #f0a702;
		margin-left: calc(.5em - 1px);
		border: 1px solid white;
		display: block;
	}

	&:before, &:after {
		margin-top: -1px;
	}

	&:before {
		background: #5eacc6;
	}

	&:after {
		margin-left: calc(1em - 1px);
		background: #c66973;
	}
}
@media (max-width: 768px) {
	.woocommerce.archive ul.products li.product {
		.woocommerce-loop-product__title, .button {
			font-size: 16px;
		}
		.price {
			font-size: 20px;
		}
	}
}

.tax-product_cat .woocommerce-products-header,
.tax-product_tag .woocommerce-products-header {
	margin: 1em 0;
	padding: 1em 5%;
	text-align: center;
	h1 {
		margin: 7px 0 11px;
	}

	p {
		margin: 0 0 1em;
		font-weight: 300;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.getled-accordions-wrapper.product-archive-accordion {
	margin: 1.6em 0;
	.getled-accordion a {
		text-transform: uppercase;
	}
	.getled-accordion-panel {
		padding: 1.6em 1em;
	}
	#getled-filters .getled-filter:last-of-type {
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.woocommerce.archive ul.products li.product {
		width: 48.5%;
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
	#getled-filters {
		.getled-filter {
			width: 100%;
		}
	}
}