.woocommerce.archive ul.products {
	margin: 0;
	text-align: center;
	li.product {
		width: 22.75%;
		margin: 0 3% 3.4em 0;
		&.last {
			margin-right: 0;
		}
		.woocommerce-loop-product__title {
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: .1em;
			color: inherit;
		}
		.price {
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: .1em;
			color: inherit;
			* {
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: .1em;
				color: inherit;
			}
		}
		.button {
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: .1em;
			margin: 0;
			display: block;
			font-size: 18px;
			background: #363636;
			color: #eee;
			border-radius: 1px;
		}
		.price {
			font-size: 23px;
			margin-bottom: 0.25em;
			opacity: .7;
		}
		.woocommerce-loop-product__link {
			padding: 0;
		}
		.woocommerce-loop-product__title {
			min-height: 7em;
			font-weight: 400;
		}
		a img {
			margin: 0;
		}
		.price del {
			display: none;
		}
	}
}

.woocommerce nav.woocommerce-pagination {
	display: none;
}

@media (max-width: 768px) {
	.woocommerce.archive ul.products li.product {
		.woocommerce-loop-product__title, .button {
			font-size: 16px;
		}
		.price {
			font-size: 20px;
		}
	}
}

.woocommerce-products-header {
	margin: 1em 0;
	padding: 1em 5%;
	text-align: center;
	h1 {
		margin: 7px 0 11px;
	}

	p {
		margin: 0 0 1em;
		font-weight: 300;
		&:last-child {
			margin-bottom: 0;
		}
	}
}