/***************************************************
Roboto Include
****************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.getled {

	/***************************************************
	Breadcrumbs
	****************************************************/
	/*All*/

	#main .woocommerce-breadcrumb {
		color: #555555;
		font-size: 12px;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-weight: 500;
		margin: 30px 0;
		a {
			color: #a3a3a3;
			text-decoration: none;
		}
	}

	/***************************************************
	Remove Sale Badge
	****************************************************/

	.product .onsale {
		display: none;
	}

	/***************************************************
	Product Image Gallery
	****************************************************/

	#woosvi_strap {
		position: relative;
	}

	/***************************************************
	Product Image Gallery - Nav
	****************************************************/

	#woosvithumbs {
		width: calc(25% - 10px);
		overflow: hidden;
		position: absolute;
		top: 35px;
		left: 0;
		bottom: 35px;
	}

	/* Items */

	#woosvi_strap #woosvithumbs .svithumbnails li {
		width: 100%;
		margin-bottom: 20px;
	}

	/***************************************************
	Product Image Gallery - Active Image
	****************************************************/

	#woosvimain {
		width: calc(75% - 10px);
		margin-left: calc(25% + 10px);
        margin-bottom: 0;
	}

	/***************************************************
	Summary (Product Details Column)
	****************************************************/

	&.single-product {
		.summary {
			margin-top: 20px;
		}
		.product .summary {
			display: flex;
			flex-direction: column;
			.product_title {
				order: 1;
			}
			.price {
				order: 2;
			}
			.woocommerce-product-details__short-description {
				order: 4;
			}
			.product-tabs.getled-accordions-wrapper {
				order: 5;
			}
			.cart {
				order: 6;
			}
			.product_meta {
				order: 7;
			}
			.woocommerce-variation-availability {
				display: none;
			}
		}
	}

	/***************************************************
	Summary Flexbox
	****************************************************/

	/*Summary elements order*/

	/***************************************************
	Product Title
	****************************************************/

	.summary .product_title.entry-title {
		font-size: 28px;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		letter-spacing: 0.5px;
		font-weight: 600;
	}

	/***************************************************
	Hide Reviews & Rating
	****************************************************/

	&.single-product .summary .woocommerce-product-rating {
		display: none;
	}

	/***************************************************
	Price
	****************************************************/
	/* All */

	.summary .price {
		text-align: center;
		margin: 0 0 15px;
		font-family: 'Roboto', sans-serif;
	}

	/* Old price */

	&.single-product .product .summary .price del {
		opacity: 1;
		color: #555555;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0px;
	}

	/* New price */

	.summary .price ins .amount {
		color: #ee78ba;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 1px;
		margin-left: 5px;
	}

	/***************************************************
	Short Description
	****************************************************/

	.woocommerce-product-details__short-description p {
		font-size: 14px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		text-transform: lowercase;
		margin: 0 0 25px;
	}

	/***************************************************
	Accordion
	****************************************************/

	&.single-product {
		.summary .cart {
				margin-bottom: 10px;
			.variations tbody tr {
				border: 0;
				display: flex;
				flex-flow: column;
				width: auto;
				text-align: center;
			}
		}
		div.product form.cart .variations tbody tr td {
			&.label {
				font-family: "Roboto";
				padding: 0;
				margin-top: 30px;
			}
			&.value {
				padding: 0;
				margin-top: 5px;
			}
		}
		form.cart tr td.value .tawcvs-swatches {
			padding: 0;
			.swatch-color {
				width: 40px;
				height: 40px;
				display: inline-block;
				opacity: 1;
				box-shadow: inset -2px -1px 10px rgba( 0,0,0,0.5 );
				-webkit-box-shadow: inset -2px -1px 10px rgba( 0,0,0,0.5 );
				margin: 11px;
				&.selected {
					&::after {
						content: "S";
						width: 48px;
						height: 48px;
						border: 2px solid #404040;
						border-radius: 100%;
						display: block;
						font-size: 20px;
						background: transparent;
						z-index: -10;
						position: absolute;
						top: -5px;
						right: -5px;
						padding: 0;
						margin: 0;
					}
					&:before {
						display: none;
					}
				}
			}
			.swatch-label {
				color: #555;
				font-size: 18px;
				font-family: "Roboto", sans-serif;
				font-weight: 500;
				border-radius: 0;
				padding: 10px;
				min-width: 50px;
				width: auto;
				height: 50px;
				opacity: 1;
				border: 0;
				margin: 7px;
				&.selected {
					box-shadow: 0 0 0;
					border: 0;
					background: rgba(239, 120, 186, 0.3);
				}
			}
		}
		.woocommerce-variation-description {
			font-size: .8em;
			text-align: center;
		}
		.cart .variations tbody tr td.value .reset_variations {
			display: none !important;
		}
	}

	&.single-product .quantity {
		display: none !important;
	}

	&.single-product .single_add_to_cart_button.button.alt {
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 2px;
		width: 100%;
		opacity: 1;
		transition: all 0.3s;
		margin-top: 30px;
	}

	.woocommerce-variation-price {
		text-align: center;
	}

	.product_meta {
		text-align: center;
		a, .sku_wrapper, .posted_in {
			color: #828282;
			font-size: 14px;
			font-weight: 400;
		}
	}

	.up-sells .products .product .woocommerce-loop-product__link, .related .products .product .woocommerce-loop-product__link {
		text-align: center;
	}

	.up-sells .products .product .woocommerce-loop-product__link h2, .related .products .product .woocommerce-loop-product__link h2 {
		color: #5d5d5d;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;
	}

	/* Pricing */

	.up-sells .products .product .woocommerce-loop-product__link .amount, .related .products .product .woocommerce-loop-product__link .amount {
		color: #8b8b8b;
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 1px;
	}

	/* Remove Rating, Old Price & Add To Cart Button */

	.up-sells .products .product {
		.woocommerce-loop-product__link {
			.star-rating, del {
				display: none !important;
			}
		}
		.button {
			display: none !important;
		}
	}

	.related .products .product {
		.woocommerce-loop-product__link {
			.star-rating, del {
				display: none !important;
			}
		}
		.button {
			display: none !important;
		}
	}

	/***************************************************
	WC Product Tabs Wrapper
	****************************************************/

	&.single-product .product .wc-tabs-wrapper {
		background: #f1f1f1;
		&.woocommerce-tabs .wc-tabs {
			padding: 0;
			margin: 0;
		}
		.wc-tabs {
			.upsells_tab, .related_tab {
				width: 50%;
				padding: 5px;
				text-align: center;
				background: #e1e1e1;
				border: 0;
				margin: 0;
			}
		}
	}

	/***************************************************
	WC Product Tabs Wrapper
	****************************************************/

	/***************************************************
	WC Product Tabs
	****************************************************/

	#tab-title-upsells {
		float: right;
	}
	/***************************************************
	WC Product Tabs - Active
	****************************************************/

	&.single-product {
		.product .wc-tabs-wrapper {
			.wc-tabs {
				.upsells_tab.active, .related_tab.active {
					background: #f1f1f1;
				}
				.upsells_tab a, .related_tab a {
					display: block;
					color: #555555;
					font-size: 18px;
					font-family: "Roboto";
					font-weight: 500;
					letter-spacing: 1px;
					text-transform: capitalize;
					outline: 0;
				}
			}
			.woocommerce-Tabs-panel {
				margin: 3.8% !important;
			}
			.wc-tabs {
				&:before {
					display: none !important;
				}
				li {
					&:after, a:after {
						display: none !important;
					}
				}
			}
			.woocommerce-Tabs-panel h2:first-child {
				display: none;
			}
		}
		ul.products li.product {
			margin-bottom: 0;
		}
	}

	/***************************************************
	WC Product Tabs - Labels
	****************************************************/

	/***************************************************
	WC Product Tabs - Remove Useless Items
	****************************************************/

	/* WC Product Tabs - Tab Title */

	.woocommerce-page ul.products li.product {
		margin-bottom: 0;
	}
}

/* Hide Mobile Cart on far right */
.widget.woocommerce.widget_shopping_cart {
	display: none;
	ul:hover & {
		display: block;
	}
}

/***************************************************
            MOBILE STYLES
****************************************************/
@media only screen and (max-width: 768px) {
	.getled {
		&.single-product ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
			width:200px;
		}
		/***************************************************
		Breadcrumbs
		****************************************************/
		#main .woocommerce-breadcrumb {
			display: none;
		}
		/***************************************************
		Product Image Gallery
		****************************************************/
		&.single-product .product #woosvi_strap {
			position: relative;
			margin-bottom: 10px !important;
		}
		/* Product Image Gallery - Hide Nav */
        #woosvi_strap #woosvithumbs {
			top: 0;
            width: 100%;
            position: relative;
		}
        /* Product Image Gallery - Hide Nav */
        #woosvithumbs .svithumbnails {
            display: flex;
            flex-flow: column;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            max-height: calc( 200px + 44vw );
            overflow: auto;
        }

        #woosvithumbs .svithumbnails li {
            display: inline-block;
            margin: .25em;
            margin-bottom: 0 !important;
            width: 44% !important;
            min-width: 200px;
        }

        #woosvithumbs .svithumbnails li img {
            padding: 2px;
        }
        
        
        
        
        
        
        
        
		/* Active Image */
		#woosvimain {
			width: 100%;
			margin-left: 0;
            display: none;
			-webkit-overflow-scrolling: touch;
		}
		/***************************************************
		Summary (Product Details Column)
		****************************************************/
		&.single-product .product .summary {
			padding: 0 20px 20px 20px;
			margin-top: 0;
			margin-bottom: 0 !important;
			.product_title {
				order: 1;
			}
			.price {
				order: 2;
			}
			.cart {
				order: 4;
			}
			.woocommerce-product-details__short-description {
				order: 8;
			}
			.getled-accordions-wrapper {
				order: 5;
			}
			.product_meta {
				order: 7;
			}
		}
		/*Summary elements order*/
		/***************************************************
		Product Title
		****************************************************/
		.summary .product_title.entry-title {
			font-size: 20px;
		}
		/***************************************************
		Price
		****************************************************/
		&.single-product .product .summary .price {
			margin-bottom: 0;
			del {
				font-size: 14px;
			}
		}
		/* Old price */
		/* New price */
		.summary .price ins .amount {
			font-size: 16px;
		}
		/***************************************************
		Variations - Labels & Value
		****************************************************/
		&.single-product {
			div.product form.cart .variations tbody tr td {
				&.label {
					font-family: "Roboto";
					padding: 0;
					margin-top: 10px;
				}
				&.value {
					padding: 0;
					margin-top: 0;
				}
			}
			form.cart tr td.value .tawcvs-swatches .swatch-color {
				width: 35px;
				height: 35px;
				&.selected::after {
					width: 43px;
					height: 43px;
					top: -5px;
					right: -5px;
				}
			}
			.single_variation_wrap .woocommerce-variation-add-to-cart .single_add_to_cart_button.button {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}

		.product_meta {
			a, .sku_wrapper, .posted_in {
				display: none;
			}
		}

		.woocommerce-product-details__short-description {
			margin-top: 30px;
			display: none;
		}

		.woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel section ul {
			display: flex;
			flex-flow: column;
			flex-wrap: wrap;
			max-height: 500px;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
		#woosvi_strap .gallery-nav-next,
		#woosvi_strap .gallery-nav-prev {
			display:none;
		}
	}
}