.site-header {
	padding-top: 10px;
	margin-top: 0;

	@media screen and (min-width: $query__small) {
		background-color: $color__skin;
	}

	@media screen and (min-width: $query__medium) {
	}
}

.displaymenu {
	width: 250px;
	margin: auto;
	margin-left: 1em;
}

.site-branding {
    
	margin: auto;
	text-align: center;
        padding-top: 0.3em;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1em;

	a {
		color: #000000;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.header-image {

	img {
		display: block;
		width: 100vw;
	}
}

.ma {
            margin:auto;
        }
        
        .npad {
            margin-bottom: 0px;
        }

@media screen and (max-width: $query__small) and (max-width: $query__medium) {

	.second {display: none;}

}

@media screen and (max-width: $query__medium) {

	.third {display: none;}

}

.topthree {
	display: flex;

	.first, .second, .third {
		flex: 1;
		border-width: 4px 2px 4px 4px;
		border-style: solid;
		border-color: white;
		padding: .35em;
		line-height: 1.1em;
	}

	h3 {
		margin: 0;
		font-size: .9em;
		font-weight: 500;
	}

	p {
		margin: 0;
		font-size: .85em;
		font-weight: 300;
	}

	a {
		text-decoration: none;
		text-align: center;
		letter-spacing: .9px
	}

}

/* Header Menu */

@import "header-menu";

/* Header search */
@import "header-search";

@media screen and (max-width: $query__small) and (max-width: $query__medium) {

	
	#site-header-cart li:first-of-type .amount {
		display: none;
	}

	.displaymenu {
		width: auto;
	}

	
	#site-header-cart {
		position: absolute;
		float: right;
		top: 0;
	}
        
        #site-header-search form.search-form label .search-field {

                 width: 100% !important;

} 

}

/* Remove black rectangle from cart in firefox */
.site-header-cart .cart-contents .count {
	width: 18px;
}

/* Remove Paypal button from cart */
.widget_shopping_cart_content #woo_pp_ec_button {
	display: none;
}

@media screen and (max-width: $query__small) { 

    .searchbox {
        order:4;
        margin-top: 0.5em;
    }
    
    
.widget_shopping_cart {
    margin: 1em 1.1em;
    
}

.displaymenu {
    margin-left:0.4em;
}
    }
/* No greater than 1530px, no less than 600px */
@media screen and (min-width:$query__small) and  (max-width:$size__max-width)  {
 .searchbox {
        order:4;
}
#site-header-search form.search-form label .search-field {

                 width: 100% !important;
}

#site-header-cart li:first-of-type .amount {
		display: none;
	}

}

@media screen and (min-width:993px) {
    
    .searchbox {
            order:3;
            margin: auto;
    }
    
     .baor {
        order:4;
        
    }
    
    #site-header-search form.search-form label .search-field {

                 width: 100% !important;
}
}

@media screen and (min-width: $size__max-width) and (max-width:1529px) {

#site-header-cart li:first-of-type .amount {
		display: none;
	}
        
}

@media screen and(min-width:1530px){
    #site-header-cart {
      width:106px !important;
    }
}