@import "header-menu";
@import "header-search";

.site-header {
	padding-top: 10px;
	margin-top: 0;

	@media screen and (min-width: $query__small) {
		background-color: $color__skin;
	}

	@media screen and (min-width: $query__medium) {
	}
}

.site-branding {    
	margin: auto;
	text-align: center;
    padding-top: 0.3em;
}

img.custom-logo {
	max-width: 231px;
}

#site-header-cart a{
    padding:0.2em 0;
}
.site-header .header-right-icons .custom-searchbox, .site-header .header-right-icons .myaccount{
    margin-right: 10px;
}

@media screen and (max-width: $query__small) {
	
img.custom-logo {
	max-width: 160px;
}

}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1em;

	a {
		color: #000000;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.header-image {

	img {
		display: block;
		width: 100vw;
	}
}

.ma {
            margin:auto;
        }
        
        .npad {
            margin-bottom: 0px;
        }

@media screen and (max-width: $query__small) and (max-width: $query__medium) {

	.second {display: none;}

}

@media screen and (max-width: $query__medium) {

	.third {display: none;}

}

.topthree {
	display: flex;

	.first, .second, .third {
		flex: 1;
		border-width: 4px 2px 4px 4px;
		border-style: solid;
		border-color: white;
		padding: .35em;
		line-height: 1.1em;
	}

	h3 {
		margin: 0;
		font-size: .9em;
		font-weight: 500;
	}

	p {
		margin: 0;
		font-size: .85em;
		font-weight: 300;
	}

	a {
		text-decoration: none;
		text-align: center;
		letter-spacing: .9px
	}

}

/* Header Menu */

@import "header-menu";

/* Header search */
@import "header-search";

@media screen and (max-width: $query__small) and (max-width: $query__medium) {

	
	#site-header-cart li:first-of-type .amount {
		display: none;
	}

	.displaymenu {
		width: auto;
	}

	
	#site-header-cart {
		position: absolute;
		float: right;
		top: 0;
	}
        
        #site-header-search form.search-form label .search-field {

                 width: 100% !important;

} 

}

/* Remove black rectangle from cart in firefox */
.site-header-cart .cart-contents .count {
    width: 18px;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-20%) !important;
    left: auto !important;
    bottom: 5px !important;
}

a.cart-contents .amount{
    display: none;
}

.cart-contents{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    align-content: center; 
} 

// .site-header-cart .cart-contents .count{ 
//     position: absolute; 
//     top: 50%; 
//     transform: translateY(-20%); 
// }

/* Remove Paypal button from cart */
.widget_shopping_cart_content #woo_pp_ec_button {
	display: none;
}

@media screen and (max-width: $query__small) { 

    .searchbox {
        order:4;
        margin-top: 0.5em;
    }
    
    
.widget_shopping_cart {
    margin: 1em 1.1em;
    
}

.displaymenu {
    margin-left:0.4em;
}
    }
/* No greater than 1530px, no less than 600px */
@media screen and (min-width:$query__small) and  (max-width:$size__max-width)  {
 .searchbox {
        order:4;
}
#site-header-search form.search-form label .search-field {

                 width: 100% !important;
}

#site-header-cart li:first-of-type .amount {
		display: none;
	}

}

@media screen and (min-width:993px) {
    
    .searchbox {
            order:3;
            margin: auto;
    }
    
     .baor {
        order:4;
        
    }
    
    #site-header-search form.search-form label .search-field {

                 width: 100% !important;
}
}

@media screen and (min-width: $size__max-width) and (max-width:1529px) {

#site-header-cart li:first-of-type .amount {
		display: none;
	}
        
}





// css code
.site-header{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header-section{
        width: 100%;
        .row{
            margin-bottom: 0;
        }
    }

    .displaymenu{
        width: auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        .toggle-gmenu{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .site-branding{
        // padding-top: 0;
        // display: flex;
        .site-branding-text{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .header-right-icons{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 15px;
        padding: 0 15px;
        align-content: center;
        .myaccount{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                // width: 30px;
                // height: 30px;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                i{
                    font-size: 30px;
                }
            }
            img{
                width: 100%;
            }
        }
        .cart{
            display: flex;
            align-items: center;
            justify-content: center;
            #site-header-cart{
                padding: 2px 0 7px;
                margin-right: 0;
                ul{
                    li{
                       &.count{
                            bottom: 3px;
                       } 
                    }
                }
            }
        }
    }
}


// responsive css
@media screen and (min-width: 1531px){
    .site{
        .site-header{
            .header-right-icons{
                margin-right: 0;
                .cart{
                    #site-header-cart{
                        margin-left: 0;
                    }
                }            
                .myaccount{
                    justify-content: center;
                    a{
                        line-height: 0;
                    }
                    
                }
                #site-header-search{
                    justify-content: center;
                }
            }
        }
    }
    
    #site-header-cart {
      width:auto !important;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1530px){
    .site{
        .site-header{
            .header-right-icons{
                margin-right: 0;
                .cart{
                    #site-header-cart{
                        margin-left: 0;
                    }
                }
                .myaccount {
                    a{
                        line-height: 0;
                    }
                   
                }
            }
        }
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    .site{
        .site-header{
            .header-right-icons{
                margin-right: 0;
                .cart{
                    #site-header-cart{
                        margin-left: 0;
                    }
                }
                .myaccount {
                    a{
                        line-height: 0;
                    }
                   
                }
            }
        }
       
    }    
}



@media screen and (max-width: 1024px) {
    
    #getled-navigation{
        z-index: 111;
        a{
            &.close{
                img{
                    height: 1.2em !important;
                    vertical-align: middle !important;
                }
            }
        }
    }
    .site{
        .site-header{
            .header-right-icons{
                margin-right: 0;
                .cart{
                    #site-header-cart{
                        margin-left: 0;
                    }
                }
                .myaccount{
                    a{
                        line-height: 0;
                       
                    }
                }
            }
        }
        .custom_serach_box {
            .search-field{
                width: 100%;
                padding: 12px 64px;
                border-radius: 0;
                border: 2px solid #eeeded;
            }
            .search-box{
                .search-box--icon{
                    i{
                        left: 25px;
                        top: 17px;
                    }
                }
                .close-btn{
                    right: 25px;
                    top: 10px;
                }
            }            
        }
        
       
    } 
    #site-header-cart{
        width: auto!important;
    }   
}

@media screen and (max-width: 767px) {
    #getled-navigation{
        .main-navigation-menus{
            width: 88%;
        }
    }
    
    .site{
        .site-header{
            .header-right-icons{
                .myaccount{
                    a{
                        line-height: 1;
                    }
                    img{
                        width: 30px !important;
                    }
                }
            }
        }

        .custom-searchbox{
            #site-header-search{
                margin: 0 auto;
                i{
                    font-size: 30px !important;
                }
            }
        }

        .cart-contents, .site-header-cart .cart-contents:after{
            font-size: 30px !important;
        }
    }    
    
   
}

@media screen and (max-width: 560px) {
    .site-header{
        .header-right-icons{
            margin-right: 0;
            padding: 0;
            .cart{
                #site-header-cart{
                    margin-left: 0;
                }
            }
        }
        .site-title{
            font-size: 24px;
        }
        .displaymenu{
            margin-left: 0;
            justify-content: center;
        }
    }
    #getled-navigation{
        z-index: 111;
        a{
            &.close{
                img{
                    height: 1.2em !important;
                    vertical-align: middle !important;
                }
            }
        }
    }
    .custom_serach_box {
        .search-field{
            width: 100%;
            padding: 12px 64px;
        }
        .search-box{
            .search-box--icon{
                i{
                    left: 25px;
                    top: 17px;
                }
            }
            .close-btn{
                right: 25px;
                top: 10px;
            }
        }
    }  
    .site-header .header-right-icons .cart #site-header-cart{
        margin-right: 10px;
    }  
}
