#site-header-search {
	position: relative;
	margin: auto 1em;
	.search-field {
		border: none;
		border-bottom: 1px solid;
		border-radius: 0;
		-webkit-appearance: none;
		font-weight: 300;
		letter-spacing: 1px;
		width: 120px;
		padding: 2px 25px 2px 2px;
		&:focus {
			box-shadow: none;
			outline: none;
		}
	}
	.search-submit {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		border: none;
		background: none;
		padding: 7px 2px 7px 3px;
	}
	form.search-form {
		/* Search bar and Icon */
		label .search-field {
			font-size: 14px;
			letter-spacing: 2px !important;
			text-transform: uppercase;
			padding-bottom: 10px !important;
			width: 200px !important;
		}
		.search-submit .fa-search:before {
			font-weight: 100 !important;
			color: #606060;
		}
		.search-submit {
			padding: 0px 2px 10px 3px;
		}
	}
}