
//Body

$color__skin: #fff; // Header area
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #363636;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

//Links

$color__text-on-top: #fff; // text displayed on top of background elements
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #222222;
$color__link-visited: #4D4D4D;
$color__link-hover: #5C5E69;
$color__text-main: #555555;


//Buttons

$color__border-button: #282727;
$color__border-button-hover: #606061;
$color__border-button-focus: #606061;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Forms

$color__border-form-field: #c3c3c3;

//Widget

$color__footer-widget: #FFE9E5;
$color__footer-widget-text:  #555555;