.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
    font-family: $font__sans;
}

.cat-links {
    font-size:65%;
    font-weight:400;
    letter-spacing: 0.19em;
    text-transform: uppercase;
 
    a {
    border: 1px solid $color__link;
    color: $color__link;
    padding: 0.4em;
    text-decoration: none;
    display: inline-block;
    
    &:focus, &:hover {
    color:$color__text-on-top;
    background:$color__background-button;
    border-color: $color__link-hover;
    }
    
    }
}

.entry-title {
    margin: .15em 0 .15em;
    font-size: 1.8em;
    letter-spacing: 0.05em;
    
    @media screen and (min-width: $query__medium) {
        font-size:2.2em;
    }
    
    a {
        text-decoration: none; 
        color: $color__link;
    }
}

.entry-date {
    font-size: 0.98em;
    font-weight: 200;
    letter-spacing: 0.05em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Single Post Featured Images */

.no-sidebar .full-bleed {
	width: 100vw;
	max-height: 1200px;
	margin-left: -1em;
	overflow: hidden;
        margin-bottom: 1em;
        margin-top:-1em;
	
	@media screen and (min-width: $query__small) {
		margin-left: -2em;
                margin-top:-2em;
            
	}
	
	@media screen and (min-width: $query__medium) {
		margin-right: -2em;
                
               
	}
	
	@media screen and (min-width: $size__max-width) {
		margin-right: calc( ((-100vw + #{$size__max-width})/2) - 2em );
		margin-left: calc( ((-100vw + #{$size__max-width})/2) - 2em );
               
	}
	img {
		display: block;
		margin: 0 auto;
	}
} 

